body { 
	background-color: #00587D;
  	font-family: 'Montserrat', sans-serif;
  	color: white;
  	font-size: 24px;
  	

}
/*Resets the outer containers values*/
.container{
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 0;
	border-collapse: collapse;
}
.championContainer{
	margin-left: 15%;
	width: 70%;
	height: 49.8%;
	max-height: 49:8%;
	font-size: 1vw;
	table-layout: fixed;
	/*overflow-y: scroll;*/

}

.championList{
	width: 100%;
	height: 100%;
	table-layout: fixed;

}

.champions {
	max-width: 100%;
	/*max-height: 33.33%;*/
	height: auto;
	width: auto;
	margin: 0 auto;
}

.championButton {
	background: none;
	border: none;
	width: 100%;
	height: 100%;
}

.championButton:hover {
	background: #FF8800;
}

.leftChampSelect {
	text-align: center;
	font-size: 1.5vw;
	position: fixed;
	top: 0;
	left: 0;
	width: 15%;
	height: 100%;
	table-layout: fixed;
}

/*Checkered design*/
.leftChampSelect tr:nth-child(even){
	background-color: #00587D;
}

.leftChampSelect tr:nth-child(odd){
	background-color: #044D7A;
}

.rightChampSelect tr:nth-child(even){
	background-color: #00587D;
}

.rightChampSelect tr:nth-child(odd){
	background-color: #044D7A;
}

.championList tr:nth-child(even) td:nth-child(odd), 
.championList tr:nth-child(odd) td:nth-child(even)
{
    background-color: #044D7A;
}








.leftChampSelect img{
	max-width: 50%;
	height: auto;
	width: auto;
	margin: 0 auto;
}

.rightChampSelect img {
	max-width: 50%;
	height: auto;
	width: auto;
	margin: 0 auto;
}

.rightChampSelect {
	text-align: center;
	font-size: 1.5vw;
	position: fixed;
	top: 0;
	right: 0;
	width: 15%;
	height: 100%;
}

.topChampSelect {
	width: 70%;
	font-size: 2vw;
	height: 16.66%;
	positon: fixed;
	margin: 0px auto;
	top: 0;
	text-align: center;
	table-layout: fixed;
}

.bottomChampSelect{
	table-layout: fixed;
	width:70%;
	height: 33.33%;	
	margin-left: 15%;
	position: fixed;
	bottom: 0;
	text-align: center;
	font-size: 1.5vw;
	max-height: 33.33%;
	border-top: 2px solid white;
	background-color: #044D7A;

}
.abilityCells{
	width: 100%;
	height: 100%;
	table-layout: fixed;
	text-align: center;
	font-size: 1vw;
}

.abilityCells td {
	border: none;
}

.lockIn{
	border: none;
	
}
.lockInButton{
	font-size: 2.5vw;
	border-radius:20px 20px 20px 20px;
}

.championDisplay{
	text-align: left;
	width: 40%;
	border: none;
}

.championDisplay img{
	max-width: 50%;
	/*max-height: 33.33%;*/
	height: auto;
	width: auto;
	display: inline-block;
	float: left;
	margin: 0 auto;
}

.championDisplay h2{
	display: inline-block;
	font-size: 2vw;
	color: #FF8800;
}
.championDetails{
	display: inline-block;
}
.championDisplay li{
	font-size: 1.5vw;
	display: inline-block;
	list-style: none;
	margin-left: 25px;
}

.championStat{
	color: #51A351;
}

.championAbilities {
	width: 40%;
	border: none;
}


.championAbilities h3{
	color: #FF8800;
	padding: 0;
	margin-left: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 1.5vw;
}
/*These used to dynamically highlight who's turn it is*/
.leftPlayer{
	background-color: : none;
}
.rightPlayer{
	background-color: none;
}
.countDown{
	font-family: 'Indie Flower', cursive;
	color: #51A351;
	font-size: 5vw;
	width: 20%;
	background-color: #044D7A;
}

.yourChamps{
	color: #51A351;
}
.theirChamps{
	color: #BD362F;
}


td {
	border: 3px solid white;
}