body{
	background-color: #00587D;
  	font-family: 'Montserrat', sans-serif;
  	color: white;
}

td{
	border: 3px solid white;
}

/*Reset globals*/
.container {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 0;
	border-collapse: collapse;
}

.leftChampions {
	position: fixed;
	left: 0;
	top: 0;
	width: 26%;
	font-size: 1.5vw;
	height: 33.33%;
	/*border: 4px solid white;*/
}

.deathIcon img{
	float: right;
	max-width: 13%;
	max-height: 65%;
	height: auto;
	width: auto;
	margin-right: 10px;
}

/*.deathIconOpponent {
	position: absolute;
	left: 0;
	top: 0;
}
*/
.deathIconOpponent img{
	/*position: relative;*/
	float: left;
	/*height: 100%;*/
	max-width: 10%;
	width: auto;
	height: auto;
	margin-left: 10px;
}

.typeIcon img{
	max-width: 8%;
	height: auto;
	width: auto;
}

.btn-default {
	color: white;
	background: none;
	width: 100%;
	height: 100%;
	border: 0;
	text-align: left;
	margin: 0;
	padding: 0;
	text-shadow: none;
}

.btn-default:hover {
	background-color: #FF8800;
}

.btn-default:hover h3{
	color: #51A351;
}

.leftChampions tr:nth-child(even){
	background-color: #044D7A;
}

.leftChampions td{
	/*border: 4px solid white;*/
	overflow: hidden;
}

.swapChampion {
	border: none;
	background-color: #00587D;
 	padding: 5px;
}

.rightChampions {
	width: 100%;
	font-size: 1.5vw;
	height: 33.33%;
	border: 4px solid white;
	text-align: right;
}

.rightChampions tr:nth-child(even){
	background-color: #044D7A;
}

.countDown {
	position: fixed;
	top: 0;
	left: 45%;
	font-family: 'Indie Flower', cursive;
	color: #51A351;
	font-size: 5vw;
	width: 10%;
	text-align: center;
	left-margin:15%;
	border: 6px solid #FF8800;
	background-color: #044D7A;
}

.passButton { 
	width: 100%;
	height: 100%;	
	padding: 0;
	margin: 0;
	font-size: 1.5vw;

}

.playerChampion {
	position: fixed;
	left: 8%;
	bottom: 6%;
	/*width: 33% ;*/
	/*border: 4px solid white;*/
	text-align: center;
	display: inline-block;
	background-color: #0088CD;
	border-radius: 50% 50% 50% 50%;
	padding: 10px;
	max-width: 20%;
	height: auto;
	width: auto;
	margin: 0 auto;
}

.playerChampion img {
	max-width: 80%;
	height: auto;
	width: auto;
	margin: 0 auto;
}
.championType {
	float: right;
	width: 22%;
	border-radius: 50% 50% 50% 50%;
	display: inline-block;
	background-color: #044D7A;
	border: solid 2px white;
}

.championType img {
	/*max-height: 100%;*/
	max-width: 80%;
	height: auto;
	width: auto;
}

/*HP & Cost bar*/
.progress {
	margin: 0 auto;
}

.opponentChampion {
	padding: 10px;
	position: fixed;
	top: 20%;
	right: 30%;
	display: inline-block;
	margin-left: 40%;
	text-align: center;
	background-color: #044D7A;
	border-radius: 50% 50% 50% 50%;
	max-width: 20%;
	height: auto;
	width: auto;
	margin: 0 auto;
}

.opponentChampion img {
	max-width: 80%;
	height: auto;
	width: auto;
	margin: 0 auto;
}

.opponentType {
	float: right;
	width: 22%;
	border-radius: 50% 50% 50% 50%;
	display: inline-block;
	background-color: #0088CD;
	border: solid 2px white;
}

.opponentType img {
	/*max-height: 100%;*/
	max-width: 70%;
	height: auto;
	width: auto;
}

.yourName {
	color: #51A351;
	text-align: center;
	font-size: 2.5vw;
	/*Change dynamically later*/
	
}

.theirName {
	color: #BD362F;
	text-align: center;
	font-size: 2.5vw;
	
}

.championAbilities {
	width: 50%;
	height: 33.33%;
	font-size: 1.5vw;
	/*padding: 10px;*/
	/*margin-left: -150%;*/
	position: fixed;
	right: 0;
	table-layout: fixed;
}

.championAbilities h3{
	font-size: 2vw;
	color: #FF8800;
	margin-left: 10px;
	margin-top: 0;
}
.championAbilities p{
	margin-left: 20px;
	font-size: 1vw;
	white-space: initial;	
}

.abilityCost {
	float: right;
	margin-right: 10px;
	padding: 0;

}

.abilityType {
	display: inline-block;
	margin-left: 10px;
}

.abilityType img{
	display: inline-block;
	max-height: 6%;
	max-width: 6%;
	height: auto;
	width: auto;
}

.passiveAbility {
	display: inline-block;
	float: right;
	margin-right: 10px;
}



.championAbilities tr:nth-child(even) td:nth-child(even), 
.championAbilities tr:nth-child(odd) td:nth-child(odd)
{
    background-color: #044D7A;
}

.combatLog {
	background-color: #044D7A;
	color: white;
	height: 33.33%;
	width: 100%;
	font-size: 1.5vw;
	padding: 10px;
	/*overflow: scroll;*/
	border-left: 4px solid white;
}

.combatLogName {
	display: inline;
}

.combatLogText {
	display: inline;
}

.rightSide {
	position: fixed;
	right: 0;
	width: 22%;
	height: 100%;
}

.log {
	overflow: scroll;
	height: 90%;

}

/*Hides scroll bar but needs a new style later*/
::-webkit-scrollbar { 
    display: none; 
}

.combatLog h3 {
	font-size: 1.5vw;
	color: #FF8800;
	margin: 0;
	text-align: center;
}



/*PICK CHAMPION MODAL*/

.pickChampion img { 
	display:inline-block;
	max-width: 100%;
	height: auto;
	width: auto;
}
.pickChampion td{
	text-align: center;
	border: none;
}

.pickChampion td:hover{
	border: 4px solid white;
}

.pickChampion { 
	/*background-color: blue;*/
	text-align: center;
	color: #51A351;
	font-family: 'Indie Flower', cursive;
}

.pickChampion button {
	background: none;
	border: none;
}

.modal-content {
	background-color: #00587D;
	/*margin-left: -10%;*/
	width: 100%;

}

.modal-dialog { 
	width: 80%;
 }

.championHealth {
	height: 100%;
	
}

.championDetails {
	position: relative;
	height: 100%;
	width: 100%;
}

.championInfo {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0;
}

/*Makes healthbar go right ot left*/
.opponentHealthBar {
	display: block;
	float: right;
}

.blindedText {
	font-size: 2vw;
	color: white;
	text-align: center;
}

/*Poison*/

.poisonText {
	color: white;
	font-size: 1.5vw;
	font-size: 2.5vh;
	position: absolute;
	z-index: 110;
	left: 16%;
	top: 13%;

}


/* POISON */
#playerPoison {
    background: #51C95B;
    width: 3vw;
    height: 3vw;
    position: absolute;
    text-align: center;
    top: 40%;
    left: 40%;
    color: white;
    visibility : hidden;

}

#playerPoison:before, #playerPoison:after {
    content: "";
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    height: 3vw;
    width: 3vw;
    background: #51C95B;
    z-index: 100;
}
#playerPoison:before {
    -webkit-transform: rotate(30deg);
       -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
         -o-transform: rotate(30deg);
}
#playerPoison:after {
    -webkit-transform: rotate(60deg);
       -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
         -o-transform: rotate(60deg);
}


#opponentPoison {
    background: #51C95B;
    width: 3vw;
    height: 3vw;
    position: absolute;
    text-align: center;
    top: 40%;
    left: 40%;
    color: white;
    visibility : hidden;

}

#opponentPoison:before, #opponentPoison:after {
    content: "";
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    height: 3vw;
    width: 3vw;
    background: #51C95B;
    z-index: 100;
}
#opponentPoison:before {
    -webkit-transform: rotate(30deg);
       -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
         -o-transform: rotate(30deg);
}
#opponentPoison:after {
    -webkit-transform: rotate(60deg);
       -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
         -o-transform: rotate(60deg);
}
