.roomContainer{ 
	margin-top: 30%;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
}


.chatbox{
	position: fixed;
	bottom: 0;
/*	left: 19%;
	right: 19%;*/
	width: 60%;
	top: 75%;
	/*border-style: ridge;*/
	border: 3px ridge;
}
.messageArea{
	padding: 20px;
}
.inputBox{
	position: fixed;
	bottom: 0;
	width: 58%;
	top: 96%;
	margin-left: 10px;
}

.room{
	font-size: 40px;
}

.owner{
	display: inline-block;
}

.versus{
	display: inline-block;
	margin-left: 42%;
	margin-right: 42%;
}

.opponent{
	display: inline-block;
	float: right;
}

.ownMessage{
	margin-left: 50px;
}
.theirMessage{
}

.alert-info, .alert-warning {
	padding: 5;
	margin: 0;
}

.messageArea{
	height: 90%;
	overflow: hidden;
}




/*Loading css animatiion from http://projects.lukehaas.me/css-loaders/ */
.loader {
  margin: -35px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #000040, 1.8em -1.8em 0 0em rgba(0,0,64, 0.2), 2.5em 0em 0 0em rgba(0,0,64, 0.2), 1.75em 1.75em 0 0em rgba(0,0,64, 0.2), 0em 2.5em 0 0em rgba(0,0,64, 0.2), -1.8em 1.8em 0 0em rgba(0,0,64, 0.2), -2.6em 0em 0 0em rgba(0,0,64, 0.5), -1.8em -1.8em 0 0em rgba(0,0,64, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,64, 0.7), 1.8em -1.8em 0 0em #000040, 2.5em 0em 0 0em rgba(0,0,64, 0.2), 1.75em 1.75em 0 0em rgba(0,0,64, 0.2), 0em 2.5em 0 0em rgba(0,0,64, 0.2), -1.8em 1.8em 0 0em rgba(0,0,64, 0.2), -2.6em 0em 0 0em rgba(0,0,64, 0.2), -1.8em -1.8em 0 0em rgba(0,0,64, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,64, 0.5), 1.8em -1.8em 0 0em rgba(0,0,64, 0.7), 2.5em 0em 0 0em #000040, 1.75em 1.75em 0 0em rgba(0,0,64, 0.2), 0em 2.5em 0 0em rgba(0,0,64, 0.2), -1.8em 1.8em 0 0em rgba(0,0,64, 0.2), -2.6em 0em 0 0em rgba(0,0,64, 0.2), -1.8em -1.8em 0 0em rgba(0,0,64, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,64, 0.2), 1.8em -1.8em 0 0em rgba(0,0,64, 0.5), 2.5em 0em 0 0em rgba(0,0,64, 0.7), 1.75em 1.75em 0 0em #000040, 0em 2.5em 0 0em rgba(0,0,64, 0.2), -1.8em 1.8em 0 0em rgba(0,0,64, 0.2), -2.6em 0em 0 0em rgba(0,0,64, 0.2), -1.8em -1.8em 0 0em rgba(0,0,64, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,64, 0.2), 1.8em -1.8em 0 0em rgba(0,0,64, 0.2), 2.5em 0em 0 0em rgba(0,0,64, 0.5), 1.75em 1.75em 0 0em rgba(0,0,64, 0.7), 0em 2.5em 0 0em #000040, -1.8em 1.8em 0 0em rgba(0,0,64, 0.2), -2.6em 0em 0 0em rgba(0,0,64, 0.2), -1.8em -1.8em 0 0em rgba(0,0,64, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,64, 0.2), 1.8em -1.8em 0 0em rgba(0,0,64, 0.2), 2.5em 0em 0 0em rgba(0,0,64, 0.2), 1.75em 1.75em 0 0em rgba(0,0,64, 0.5), 0em 2.5em 0 0em rgba(0,0,64, 0.7), -1.8em 1.8em 0 0em #000040, -2.6em 0em 0 0em rgba(0,0,64, 0.2), -1.8em -1.8em 0 0em rgba(0,0,64, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,64, 0.2), 1.8em -1.8em 0 0em rgba(0,0,64, 0.2), 2.5em 0em 0 0em rgba(0,0,64, 0.2), 1.75em 1.75em 0 0em rgba(0,0,64, 0.2), 0em 2.5em 0 0em rgba(0,0,64, 0.5), -1.8em 1.8em 0 0em rgba(0,0,64, 0.7), -2.6em 0em 0 0em #000040, -1.8em -1.8em 0 0em rgba(0,0,64, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,64, 0.2), 1.8em -1.8em 0 0em rgba(0,0,64, 0.2), 2.5em 0em 0 0em rgba(0,0,64, 0.2), 1.75em 1.75em 0 0em rgba(0,0,64, 0.2), 0em 2.5em 0 0em rgba(0,0,64, 0.2), -1.8em 1.8em 0 0em rgba(0,0,64, 0.5), -2.6em 0em 0 0em rgba(0,0,64, 0.7), -1.8em -1.8em 0 0em #000040;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #000040, 1.8em -1.8em 0 0em rgba(0,0,64, 0.2), 2.5em 0em 0 0em rgba(0,0,64, 0.2), 1.75em 1.75em 0 0em rgba(0,0,64, 0.2), 0em 2.5em 0 0em rgba(0,0,64, 0.2), -1.8em 1.8em 0 0em rgba(0,0,64, 0.2), -2.6em 0em 0 0em rgba(0,0,64, 0.5), -1.8em -1.8em 0 0em rgba(0,0,64, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,64, 0.7), 1.8em -1.8em 0 0em #000040, 2.5em 0em 0 0em rgba(0,0,64, 0.2), 1.75em 1.75em 0 0em rgba(0,0,64, 0.2), 0em 2.5em 0 0em rgba(0,0,64, 0.2), -1.8em 1.8em 0 0em rgba(0,0,64, 0.2), -2.6em 0em 0 0em rgba(0,0,64, 0.2), -1.8em -1.8em 0 0em rgba(0,0,64, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,64, 0.5), 1.8em -1.8em 0 0em rgba(0,0,64, 0.7), 2.5em 0em 0 0em #000040, 1.75em 1.75em 0 0em rgba(0,0,64, 0.2), 0em 2.5em 0 0em rgba(0,0,64, 0.2), -1.8em 1.8em 0 0em rgba(0,0,64, 0.2), -2.6em 0em 0 0em rgba(0,0,64, 0.2), -1.8em -1.8em 0 0em rgba(0,0,64, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,64, 0.2), 1.8em -1.8em 0 0em rgba(0,0,64, 0.5), 2.5em 0em 0 0em rgba(0,0,64, 0.7), 1.75em 1.75em 0 0em #000040, 0em 2.5em 0 0em rgba(0,0,64, 0.2), -1.8em 1.8em 0 0em rgba(0,0,64, 0.2), -2.6em 0em 0 0em rgba(0,0,64, 0.2), -1.8em -1.8em 0 0em rgba(0,0,64, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,64, 0.2), 1.8em -1.8em 0 0em rgba(0,0,64, 0.2), 2.5em 0em 0 0em rgba(0,0,64, 0.5), 1.75em 1.75em 0 0em rgba(0,0,64, 0.7), 0em 2.5em 0 0em #000040, -1.8em 1.8em 0 0em rgba(0,0,64, 0.2), -2.6em 0em 0 0em rgba(0,0,64, 0.2), -1.8em -1.8em 0 0em rgba(0,0,64, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,64, 0.2), 1.8em -1.8em 0 0em rgba(0,0,64, 0.2), 2.5em 0em 0 0em rgba(0,0,64, 0.2), 1.75em 1.75em 0 0em rgba(0,0,64, 0.5), 0em 2.5em 0 0em rgba(0,0,64, 0.7), -1.8em 1.8em 0 0em #000040, -2.6em 0em 0 0em rgba(0,0,64, 0.2), -1.8em -1.8em 0 0em rgba(0,0,64, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,64, 0.2), 1.8em -1.8em 0 0em rgba(0,0,64, 0.2), 2.5em 0em 0 0em rgba(0,0,64, 0.2), 1.75em 1.75em 0 0em rgba(0,0,64, 0.2), 0em 2.5em 0 0em rgba(0,0,64, 0.5), -1.8em 1.8em 0 0em rgba(0,0,64, 0.7), -2.6em 0em 0 0em #000040, -1.8em -1.8em 0 0em rgba(0,0,64, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,64, 0.2), 1.8em -1.8em 0 0em rgba(0,0,64, 0.2), 2.5em 0em 0 0em rgba(0,0,64, 0.2), 1.75em 1.75em 0 0em rgba(0,0,64, 0.2), 0em 2.5em 0 0em rgba(0,0,64, 0.2), -1.8em 1.8em 0 0em rgba(0,0,64, 0.5), -2.6em 0em 0 0em rgba(0,0,64, 0.7), -1.8em -1.8em 0 0em #000040;
  }
}

