<header>
	<!-- Title font -->
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
	<!-- StyleSheet -->
 	<link rel="stylesheet" href="style/champ-select.css">
</header>

<body>

<table class="leftChampSelect">

	<tr><td class="yourChamps">Your Champions</td></tr>
	<tr><td>Second</td></tr>
	<tr><td>Third</td></tr>
	<tr><td>Fourth</td></tr>
	<tr><td>Fifth</td></tr>
	<tr><td>Sixth</td></tr>

</table>

<table class="topChampSelect">
	<tr>
		<td class="leftPlayer">Player 1 Name</td>
		<td class="countDown">40</td>
		<td class="rightPlayer">Player 2 Name</td>
	</tr>
</table>

<table class="bottomChampSelect">
	<tr>
		<td class="championDisplay">
		<div class="championDetails">
			<img src="res/teemo.png">
			
			<h2>Teemo</h2>
			
			<ul>
				<li> <span class="championStat"> Attack : </span> 6 </li>
				<li> <span class="championStat"> Health : </span> 10 </li>
				<li> <span class="championStat"> Defense : </span> 8 </li>
			</ul>
			</div>
		</td>

		<td class="lockIn">
			<button class="btn btn-success lockInButton">
				Lock In
			</button>
		</td>

		<td class="championAbilities">
			<table class="abilityCells">
				<tr>
					<td> Firsts ability</td>
					<td> Second ability</td>
				</tr>
				<tr>
					<td> Third ability</td>
					<td> Fourth ability</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<table class="rightChampSelect">

	<tr><td class="theirChamps">Their Champions</td></tr>
	<tr><td>Second</td></tr>
	<tr><td>Third</td></tr>
	<tr><td>Fourth</td></tr>
	<tr><td>Fifth</td></tr>
	<tr><td>Sixth</td></tr>

</table>
</body>
