<header>
	<!-- Title font -->
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
	<!-- StyleSheet -->
 	<link rel="stylesheet" href="style/champ-select.css"> 
</header>

<body>

<table class="leftChampSelect">

	<tr height="5%"><td class="yourChamps">Your Champions</td></tr>
	<tr height="19%"><td><img src="{{yourChampions[0].asset}}"></td></tr>
	<tr height="19%"><td><img src="{{yourChampions[1].asset}}"></td></tr>
	<tr height="19%"><td><img src="{{yourChampions[2].asset}}"></td></tr>
	<tr height="19%"><td><img src="{{yourChampions[3].asset}}"></td></tr>
	<tr height="19%"><td><img src="{{yourChampions[4].asset}}"></td></tr>

</table>

<table class="topChampSelect">
	<tr>
		<td class="leftPlayer" id="leftPlayer">{{yourName}}</td>
		<td class="countDown">{{timer}}</td>
		<td class="rightPlayer" id="rightPlayer">{{theirName}}</td>
	</tr>
</table>


<div class="championContainer">
	<table class="championList">
			<tr ng-repeat="champion in listOfChampions">
				<td ng-repeat="champ in champion" class="champions">
					<button class="championButton" ng-click="selectChampion(champ.id)" id="{{champ.id}}">
						<img class="champions" src="{{champ.asset}}">
					</button>
				</td>
			</tr>
	</table>
	


</div>
<table class="bottomChampSelect">
	<tr>
		<td class="championDisplay">
		<div class="championDetails">
			<img src="{{selectedChampion.asset}}">
			
			<h2>{{selectedChampion.name}}</h2>
			
			<ul>
				<li> <span class="championStat"> Attack : </span> 6 </li>
				<li> <span class="championStat"> Health : </span> 10 </li>
				<li> <span class="championStat"> Defense : </span> 8 </li>
			</ul>
			</div>
		</td>
<!-- ng-disabled="isTurn === false" -->
		<td class="lockIn">
			<button class="btn btn-success lockInButton"  ng-click="lockInChampion()">
				Lock In
			</button>
		</td>

		<td class="championAbilities">
			<table class="abilityCells">
				<tr>
					<td> <h3> Attack</h3> Deals physical damage to single target</td>
					<td> <h3> Blinding Dart</h3> Deals magic damage to single target </td>
				</tr>
				<tr>
					<td> <h3> Move Quick</h3> Speed increased by 50</td>
					<td> <h3> Shroom</h3> Deals magic aoe damage to multiple targets</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<table class="rightChampSelect">

	<tr height="5%"><td class="theirChamps">Their Champions</td></tr>
	<tr height="19%"><td><img src="{{theirChampions[0].asset}}"></td></tr>
	<tr height="19%"><td><img src="{{theirChampions[1].asset}}"></td></tr>
	<tr height="19%"><td><img src="{{theirChampions[2].asset}}"></td></tr>
	<tr height="19%"><td><img src="{{theirChampions[3].asset}}"></td></tr>
	<tr height="19%"><td><img src="{{theirChampions[4].asset}}"></td></tr>

</table>
</body>
