<div ng-controller="serverTableController">


    <!-- Modal content-->
    <div class="modal-content serverModal">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">Create Game</h2>
      </div>
      <div class="modal-body">
        <div class="form-group ">
          <!--Set Game name-->
          <label class="lobbyModal" for="gameName">Set Game Name:</label>
          <input type="text" class="form-control" id="gameName" ng-model = "gameName">

          <!-- Set name -->
          <label class="lobbyModal" for="user">Set Your Name:</label>
          <input type="text" class="form-control" id="name" ng-model = "name">

          <!-- Set password -->
          <label class="lobbyModal" for="user">Set Password (optional):</label>
          <input type="text" class="form-control" id="password" ng-model = "password">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">Close</button>
        
        <!-- One button can link other cannot -->

        <a type="button" class="btn btn-success" ng-disabled = "true" ng-show = "!(!!gameName && !!name)">Create Game</a>
        <a type="button" class="btn btn-success" ng-hide = "!(!!gameName && !!name)"  ng-click ="createGame(gameName, name, password)" href="#/room" >Create Game</a>
      </div>
    </div>

</div>