<header>
	<!-- Title font -->
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
	<!-- StyleSheet -->
 	<link rel="stylesheet" href="style/game.css"> 
</header>

<body>


	<table class="leftChampions">
		<tr><td class="yourName">YOUR NAME </td></tr>
		<tr><td>First Champion</td></tr>
		<tr><td>Second Champion</td></tr>
		<tr><td>Third Champion</td></tr>
		<tr><td>Fourth Champion</td></tr>
		<tr><td>Fifth Champion</td></tr>
	</table>


	<table class="countDown">
		<tr><td>{{timer}}</td></tr>
	</table>

	<table class="rightChampions">
		<tr><td class="theirName">THEIR NAME </td></tr>
		<tr><td>First Champion</td></tr>
		<tr><td>Second Champion</td></tr>
		<tr><td>Third Champion</td></tr>
		<tr><td>Fourth Champion</td></tr>
		<tr><td>Fifth Champion</td></tr>
	</table>



	<div class="playerChampion">
		<img src="res/teemo.png">
	</div>

	<div class="opponentChampion">
		<img src="res/teemo.png">
	</div>



	<table class="championAbilities">
		<tr>
			<td> <h3 class="abilityTitle"> Attack -</h3> Deals physical damage to single target</td>
			<td> <h3 class="abilityTitle"> Blinding Dart -</h3> Deals magics damage to single target</td>
		<tr>
			<td> <h3 class="abilityTitle"> Move Quick -</h3> Speed increase by 50</td>
			<td> <h3 class="abilityTitle"> Shroom -</h3> Deals magic aoe damage to multiple targets</td>
		<tr>

	</table>
</body>