<div ng-controller ="serverTableController">
  <div class="modal-header">
    <button type="button" class="close" ng-click="close()" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Join Game</h4>
  </div>
  <div class="modal-body">
    <div class="form-group joinGame">
      <!-- Set name -->
      <label class="lobbyModal" for="user">Set Your Name:</label>
      <input type="text" class="form-control" id="user" ng-model = "usersName">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="close()" data-dismiss="modal">Close</button>

    <!-- One button can link to new page whilst other cannot (alternating showing) -->
    <a type="button" class="btn btn-success" ng-disabled="true" ng-show ="!(!!usersName)">Join Game</a>
    <a type="button" class="btn btn-success" ng-hide = "!(!!usersName)" data-dismiss="modal" ng-click ="joinGame(item)">Join Game</a>
  </div>
</div>
